body {
	
  font-family: arial;
  background-image: url("background.png");
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
  background-color: rgba(0, 0, 0, .2);
  
  color: white;
}

#coal {

  image-rendering: crisp-edges;
  width: 300px;
  height: auto;
  transition: transform 0.3s ease;
  cursor: pointer;	
}

#coal:hover {
      transform: scale(0.9);
    }

#coal:active {
      transform: scale(1);
