body {
	
  font-family: arial;
  background-image: url("background.png");
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
  background-color: rgba(0, 0, 0, .2);
  
  color: white;
}

coal {

  image-rendering: crisp-edges;
  
	
}
